{% load static %}
<!DOCTYPE HTML>
<html>
<head>
    <title>Gymbear home</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
    <link rel="stylesheet" href="{% static 'assets/css/main.css' %}"/>
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'assets/js/jquery.dropotron.min.js' %}"></script>
    <script src="{% static 'assets/js/browser.min.js' %}"></script>
    <script src="{% static 'assets/js/breakpoints.min.js' %}"></script>
    <script src="{% static 'assets/js/util.js' %}"></script>
    <script src="{% static 'assets/js/main.js' %}"></script>
    <script type="text/javascript">
        function getToken(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie != '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) == (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        var csrftoken = getToken('csrftoken');
    </script>
</head>
<body class="homepage is-preload">
<div id="page-wrapper">

    <!-- Header -->
    <section id="header" class="wrapper">

        <!-- Logo -->
        <div id="logo">
            <p>&nbsp;</p>
            <h1><a href="{% url 'index' %}">Gymbear</a></h1>
            <p>&nbsp;</p>
        </div>

        <!-- Nav -->
        <nav id="nav">
            <ul>
                <li style="float: left;" class="current"><a href="{% url 'index' %}">Home</a></li>
                <li class="current"><a href="{% url 'protein list' %}">Protein</a></li>
                <li class="current"><a href="{% url 'clothing list' %}">Clothing</a></li>
                {#            <li style="float: left;" class="current"><a href="{% url 'protein list' %}">Protein</a></li>#}
                <li class="current">&nbsp;</li>
                <li class="current">&nbsp;</li>
                <li class="current">&nbsp;</li>
                <li class="current">&nbsp;</li>
                <li class="current">&nbsp;</li>
                <li class="current">&nbsp;</li>
                <li class="current">&nbsp;</li>
                                <li class="current"><a href="{% url 'protein add' %}">Add Protein</a></li>
                {#                <li class="current"><a href="{% url 'clothing add' %}">Add Clothing</a></li>#}

                {% if request.user.is_superuser or request.user.is_staff %}
                    <li style="float: right;" class="current"><a href="{% url 'admin functions' %}">Admin Functions</a>
                    </li>
                {% endif %}
                {% if request.user.is_authenticated %}
                    <li style="float: right;" class="current"><a href="{% url 'profile details' %}">Profile</a></li>
                    {#                    <li style="float: right;"><a href="#">Hello, {{ request.user }}</a></li>#}
                {% else %}
                    <li style="float: right;" class="current"><a href="{% url 'register' %}">Register</a></li>
                    <li style="float: right;" class="current"><a href="{% url 'login' %}">Login</a></li>
                {% endif %}

            </ul>
        </nav>

    </section>

    <!-- Main -->
    <section id="main" class="wrapper style2">
        <div class="container">
            {% block page_content %}
            {% endblock %}
        </div>
    </section>
</div>