{% load static %}
<!DOCTYPE HTML>
<html>
<head>
    <title>Gymbear home</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
    <link rel="stylesheet" href="{% static 'assets/css/main.css' %}"/>
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'assets/js/jquery.dropotron.min.js' %}"></script>
    <script src="{% static 'assets/js/browser.min.js' %}"></script>
    <script src="{% static 'assets/js/breakpoints.min.js' %}"></script>
    <script src="{% static 'assets/js/util.js' %}"></script>
    <script src="{% static 'assets/js/main.js' %}"></script>
</head>
<body class="homepage is-preload">
<div id="page-wrapper">

    <!-- Header -->
    <section id="header" class="wrapper">

        <!-- Logo -->
        <div id="logo">
            <p>&nbsp;</p>
            <h1><a href="">Gymbear</a></h1>
            <p>&nbsp;</p>
        </div>

        <!-- Nav -->
        <nav id="nav">
            <ul>
                <li class="current"><a href="{% url 'index' %}">Home</a></li>
                <li class="current"><a href="#">Add Item</a></li>
                <li class="current"><a href="{% url 'login' %}">Login</a></li>
                <li class="current"><a href="{% url 'register' %}">Register</a></li>
                <li class="current"><a href="#">Profile</a></li>
                <li>
                    <a href="#">Dropdown</a>
                    <ul>
                        <li><a href="#">Lorem ipsum</a></li>
                        <li><a href="#">Magna veroeros</a></li>
                        <li><a href="#">Etiam nisl</a></li>
                        <li>
                            <a href="#">Sed consequat</a>
                            <ul>
                                <li><a href="#">Lorem dolor</a></li>
                                <li><a href="#">Amet consequat</a></li>
                                <li><a href="#">Magna phasellus</a></li>
                                <li><a href="#">Etiam nisl</a></li>
                                <li><a href="#">Sed feugiat</a></li>
                            </ul>
                        </li>
                        <li><a href="#">Nisl tempus</a></li>
                    </ul>
                </li>
{#                <li class="current"><a href="#">{{ request.user.username }}</a></li>#}
                {#								<li><a href="left-sidebar.html">Left Sidebar</a></li>#}
                {#								<li><a href="right-sidebar.html">Right Sidebar</a></li>#}
                {#								<li><a href="no-sidebar.html">No Sidebar</a></li>#}
            </ul>
        </nav>

    </section>

    <!-- Intro -->
    {#				<section id="intro" class="wrapper style1">#}
    {#					<div class="title">The Introduction</div>#}
    {#					<div class="container">#}
    {#						<p class="style1">So in case you were wondering what this is all about ...</p>#}
    {#						<p class="style2">#}
    {#							Escape Velocity is a free responsive<br class="mobile-hide" />#}
    {#							site template by <a href="http://html5up.net" class="nobr">HTML5 UP</a>#}
    {#						</p>#}
    {#						<p class="style3">It's <strong>responsive</strong>, built on <strong>HTML5</strong> and <strong>CSS3</strong>, and released for#}
    {#						free under the <a href="http://html5up.net/license">Creative Commons Attribution 3.0 license</a>, so use it for any of#}
    {#						your personal or commercial projects &ndash; just be sure to credit us!</p>#}
    {#						<ul class="actions">#}
    {#							<li><a href="#" class="button style3 large">Proceed</a></li>#}
    {#						</ul>#}
    {#					</div>#}
    {#				</section>#}

    <!-- Main -->
    <section id="main" class="wrapper style2">
        <div class="container">
            {% block page_content %}
            {% endblock %}
        </div>
    </section>
</div>