{% extends 'base.html' %}
{% load static %}
{% block page_content %}



						<!-- Features -->
							<section id="features">
								<header class="style1">
									<h2>Admin functions</h2>
								<ul class="actions special">
									<li><a href="{% url 'protein add' %}" class="button style2 large">Add Protein</a></li>
                                    <li><a href="{% url 'clothing add' %}" class="button style2 large">Add Clothing</a></li>
								</ul>
                                </header>
							</section>



		<!-- Scripts -->
			<script src="{% static 'assets/js/jquery.min.js' %}"></script>
			<script src="{% static 'assets/js/jquery.dropotron.min.js' %}"></script>
			<script src="{% static 'assets/js/browser.min.js' %}"></script>
			<script src="{% static 'assets/js/breakpoints.min.js' %}"></script>
			<script src="{% static 'assets/js/util.js' %}"></script>
			<script src="{% static 'assets/js/main.js' %}"></script>

	</body>
</html>
{% endblock %}