{% extends 'base.html' %}
{% load static %}
{% block page_content %}
    <section id="highlights" class="wrapper style3">
        <div class="container">
            <div class="row aln-center">
                {% for protein in proteins %}
                    <div class="col-4 col-12-medium">
                        <section class="highlight">
                            <a href="{% url 'protein details' protein.product_id %}" class="image featured"><img src="{{ protein.picture.url }}"
                                                                   alt=""/></a>
                            <h5><a href="">{{ protein.name }}</a></h5>
                            <p>{{ protein.description }}</p>
                            <h3>Price: {{ protein.price }}</h3>
                            <ul class="actions">
                                <li><a href="{% url 'protein details' protein.product_id %}" class="button style1">Details</a></li>

                            </ul>
                            {% if request.user.is_superuser or request.user.is_staff %}
                                    <a href="{% url 'protein edit' protein.product_id %}" class="button style1">Edit</a>
                                {% endif %}
                        </section>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}